body {
    background-color: lightblue;
    text-align: center;
}

p {
    background-color: white;
    font-size: larger;
    margin: 25px 100px 50px;
    border: 8px solid blue;
    border-radius: 25px;
    padding: 20px;
}

#container {
    margin: 0 auto;
    width: 960px;
}

#header {
    width: 960px;
}
